.checkoutProduct {
  display: flex;
  margin-bottom: 20px;
  background-color: white;
}

.checkoutProduct-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  /* Take up remaining space */
  padding: 20px;
}

.remove-cart {
  background-color: #f0c14b;
  border-radius: 10px;
  height: 25px;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border: none;
  color: black;
  margin-top: 10px;
  display: block;
  width: fit-content;
  padding: 0 10px;
}

.checkoutProduct-image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-right: 20px;
  margin-bottom: 20px;
}

.checkoutProduct-rating {
  color: #f0c14b;
  display: flex;
}

.checkoutProduct-title {
  font-size: 18px;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.checkout-item-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  /* Take up remaining space */
}

.checkoutProduct-price {

  font-size: 16px;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}