.home-banner {
    width: 100%;
    margin-bottom: -350px;
    z-index: -1;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
    box-sizing: border-box; /* Ensure padding and borders are included in the width */
}
.home-row{
    display: flex;
z-index: 1;
width: 100%;
margin-left: 20px;
}

.home-container {
    background-color: #F5F5F5; /* Match this with the desired home background color */
    overflow-x: auto;
    width: 100%;
    box-sizing: border-box;
   
}