body{
    background-color: #F5F5F5;
}
.login-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-bottom: 5px;
    flex-direction: column;
}
.mail{
    font-weight: bold;
    font-size: 13px;
}
.password{
    font-weight: bold;
    font-size: 13px;
}

.login{
justify-content: center;
display: flex;
align-items: center;
padding: 14px 18px;
flex-direction: column;
}

.logo-link{
    display: flex;
    justify-content: center;
    
}

.login-logo{
    height: 30px;
    width: 110px;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
    margin-left: 5px;
    margin-top: 10px;
}
.mail-password{
    width: 100%;
   height: 30px;
   border-radius: 5px;
   border: 1px solid #a6a6a6;
   line-height: 19px;
   margin-top: 10px;
   margin-bottom: 10px;
   padding-left: 5px;
}
.login-box{
padding: 20px 26px;
border-radius: 8px;
border: 1px solid #a6a6a6;
max-width: 348px;
}
.continue{
   background-color: #ffd700;;
   border: none;
   border-radius: 5px;
   width: 100%;
   height: 30px;
   color: black;
   font-size: 16px;
   font-family: Arial, Helvetica, sans-serif;
   margin-top: 5px;
   cursor: pointer;
}

.continue:hover{
    background-color: #ffc107;
 }
 
.terms-login{
    font-size: 12px;
    margin-top: 14px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 0.3px;
    letter-spacing: 0.5px;
}
.create-account{
    width: 348px;
    height: 35px;
    border-radius: 5px;
    color: black;
    background-color: transparent;
   border: 1px solid #a6a6a6;
   margin-top: 30px;
   margin-bottom: 20px;
   cursor: pointer;
}
.line{
    color: #a6a6a6;
    margin-top: 30px;
    width: 100%;
}
.line-container{
    display: flex;
  align-items: center;
  text-align: center;
  font-size: 14px;
}

