.shoppingcart-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.shoppingcart {
  background-color: white;
  width: 75%;
  max-width: 75%;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cart-title {
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 20px;
}

.cart-title-line {
  border: none;
  height: 0.5px;
  background-color: lightgray;
  margin-top: 25px;
}

.cart-content {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.hide-header {
  background: none;
  box-shadow: none;
  padding-top: 0;
  margin-top: 0;
}

.cart-item {
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px !important;
  padding: 5px 10px;
}

.product-checkbox {
  align-items: center;
}